.App {
  color: oldlace;
  background: url('./assets/coorsField.jpg');
  background-repeat: no-repeat;
  background-size: 100vw ;
  background-attachment: fixed;
  text-align: center;
}

.header {
  display: flex;
  /* border: 1px solid black; */
}

.header-text {
  display: flex;
  align-content: center;
  flex-direction: column;
  color: darkorchid;
  padding-left: 250px
}

.form {
  text-align: left;
  /* border: 1px solid black; */
}

.players {
  /* border: 1px solid black; */

}

.player {
  /* border: 1px solid black; */
}